@import "./color";
@import "./helper";

#education-area {
  background-color: black;
  width: 100vw;
  min-height: 100vh;
  #education {
    width: 100vw;
    min-height: 100vh;
    @include visualWidth;
    color: $color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    #education-complete-area {
      @include visualWidth;
      #education-heading {
        font-size: 3rem;
        padding: 1rem 0rem;
      }
      #educations {
        padding: 1rem 0rem;
        #education-school {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          h1 {
            font-size: 1.5rem;
          }
          p {
            font-size: 1rem;
          }
        }
        #education-college {
          color: $hover-color;
          font-size: 1rem;
          padding: 0.5rem 0rem;
        }
        #education-description {
          font-size: 1rem;
          padding: 0.5rem 0rem;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  #education-heading {
    font-size: 2rem;
  }
  #educations {
    #education-school {
      margin: 1rem 0rem;
      h1 {
        font-size: 1rem;
      }
      p {
        font-size: 0.7rem !important;
        padding: 0.3rem;
      }
    }
  }
  #education-college {
    font-size: 0.7rem !important;
  }
  #education-description {
    font-size: 0.8rem !important;
  }
}
