#footer-area-start {
  position: relative;
  @include visualWidth;
  #footer {
    color: $color;
    margin: 1rem auto;
    h3 {
      text-align: center;
      margin: 1rem auto;
    }
    #social-links {
      z-index: 5;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      a {
        z-index: 5;
        display: block;
        padding: 0.7rem 2rem;
        background-color: $project-bg;
        color: white;
        margin: 0.5rem 1rem;
        text-decoration: none;
        border-radius: 2.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.5s ease;
        span {
          z-index: 5;
          margin: 0rem 0.5rem;
        }
        &:hover {
          background-color: white;
          color: black;
          cursor: pointer;
          transform: scale(1.1);
        }
      }
    }
  }
}
