.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0%;
  color: white;
  width: 100%;
  padding: 4rem 5rem;
  height: 10vh;
}
.navbar img {
  max-width: 100px;
}
.navbar .navbar-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.navbar .navbar-links h3 {
  cursor: pointer;
}
.navbar .navbar-links h3 a {
  text-decoration: none;
  color: inherit;
  padding: 0px 10px;
  font-weight: 400;
  transition: color 0.5s ease-in-out;
}
.navbar .navbar-links h3:hover {
  color: #177ddc;
}
.navbar .navbar-links h3:active {
  background-color: transparent;
}
.navbar #hamburger-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.navbar #hamburger-button #hamburger {
  width: 40px;
  height: 4px;
  background-color: white;
  border-radius: 3px;
  transition: all 0.5s ease-in-out;
}
.navbar #hamburger-button #hamburger::after, .navbar #hamburger-button #hamburger::before {
  content: " ";
  position: absolute;
  width: 40px;
  height: 4px;
  background-color: white;
  border-radius: 3px;
  transition: all 0.5s ease-in-out;
}
.navbar #hamburger-button #hamburger::before {
  transform: translateY(-10px);
}
.navbar #hamburger-button #hamburger::after {
  transform: translateY(10px);
}
.navbar #hamburger-button.open #hamburger {
  transform: translateX(-20px);
  background-color: transparent;
}
.navbar #hamburger-button.open #hamburger::before {
  transform: rotate(45deg) translate(10px, -10px);
}
.navbar #hamburger-button.open #hamburger::after {
  transform: rotate(-45deg) translate(10px, 10px);
}

@media screen and (min-width: 600px) {
  .secondary-navbar {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .navbar {
    padding: 4rem 1rem;
  }
  .navbar .navbar-links {
    display: none;
  }
  .secondary-navbar {
    display: block;
  }
  .secondary-navbar .secondary-navbar-links {
    background-color: black;
    position: absolute;
    right: 1rem;
    min-width: 210px;
    padding: 2rem;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 7rem;
    box-shadow: 0px 8px 16px 0px rgba(241, 236, 236, 0.2);
    border-radius: 10px;
    z-index: 2;
  }
  .secondary-navbar .secondary-navbar-links h3 {
    line-height: 1rem;
    padding: 5px;
    font-weight: 400;
    cursor: pointer;
  }
  .secondary-navbar .secondary-navbar-links h3 a {
    text-decoration: none;
    color: inherit;
    display: block;
    font-size: 1.3rem;
    padding: 5px;
    transition: color 0.5s ease-in-out;
  }
  .secondary-navbar .secondary-navbar-links h3 a:hover {
    color: #177ddc;
  }
  .secondary-navbar .secondary-navbar-links h3:active {
    background-color: transparent;
  }
}
@media screen and (max-width: 800px) {
  .navbar {
    padding: 4rem 1rem;
  }
}/*# sourceMappingURL=navBar.css.map */